body{
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color: rgb(155, 152, 152);
}

.head{
    margin: 5px;
    border: 2px;
    border-color: grey;
    border-style: solid;
    width: auto;
}

.flex{
    display: flex;
}